<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Empleados con Mayor Salario</title>
</head>
<body>
<div class="container">
    <h1>Empleados con Mayor Salario en la Empresa</h1>
    <!-- COMPLETAR -->
    <table class="table">
        <h4 class="mt-4">Recursos Humanos</h4>
        <form th:action="@{'/search/buscar'}" method="post">
            <div class="form-group">
                <label for="firstname">Nombre</label>
                <input type="text" class="form-control" name="firstname" id="firstname"/>
            </div>
            <a th:href="@{'/search/Salario'}" class="btn btn-danger">limpiar</a>
            <a th:href="@{'/search'}" class="btn btn-danger">regresar</a>
            <button type="submit" class="btn btn-primary">buscar</button>

        </form>
        <table class="table table-sm">
            <tr>
                <th>nombre</th>
                <th>apellido</th>
                <th>fecha-inicio</th>
                <th>fecha-fin</th>
                <th>puesto</th>
            </tr>
            <tr th:each="rh : ${listaRecursos}">
                <td th:text="${rh.getNombre()}">
                <td th:text="${rh.getApellido()}"></td>
                <td th:text="${rh.getFechainicio()}"></td>
                <td th:text="${rh.getFechafin()}"></td>
                <td th:text="${rh.getPuesto()}"></td>

            </tr>

        </table>
    </table>
</div>
</body>
</html>